[submodule "ai-service"]
	path = ai-service
	url = git@github.com:woragis/ai-service.git
[submodule "creative-service"]
	path = creative-service
	url = git@github.com:woragis/creative-service.git
[submodule "email-worker"]
	path = email-worker
	url = git@github.com:woragis/email-worker.git
[submodule "whatsapp-worker"]
	path = whatsapp-worker
	url = git@github.com:woragis/whatsapp-worker.git
[submodule "translation-worker"]
	path = translation-worker
	url = git@github.com:woragis/translation-worker.git
[submodule "resume-service"]
	path = resume-service
	url = git@github.com:woragis/woragis-jobs-resume-worker-service.git
[submodule "creatives-server"]
	path = creatives-server
	url = git@github.com:woragis/creatives-server.git
[submodule "docs-service"]
	path = docs-service
	url = git@github.com:woragis/docs-service.git
[submodule "visual-service"]
	path = visual-service
	url = git@github.com:woragis/visual-service.git
